[submodule "deps/louvain-community"]
	path = deps/louvain-community
	url = https://github.com/meelgroup/louvain-community.git
[submodule "deps/cryptominisat"]
	path = deps/cryptominisat
	url = https://github.com/msoos/cryptominisat
[submodule "deps/arjun"]
	path = deps/arjun
	url = https://github.com/meelgroup/arjun.git
[submodule "deps/approxmc"]
	path = deps/approxmc
	url = git@github.com:arijitsh/approxmc.git
[submodule "deps/unigen"]
	path = deps/unigen
	url = https://github.com/arijitsh/unigen.git
[submodule "utils/baseline/deps/GPMC"]
	path = utils/baseline/deps/GPMC
	url = https://git.trs.css.i.nagoya-u.ac.jp/k-hasimt/GPMC.git
[submodule "utils/baseline/deps/cryptominisat"]
	path = utils/baseline/deps/cryptominisat
	url = https://github.com/arijitsh/cryptominisat/
[submodule "cryptominisat"]
	branch = allsol
